services:
  postgres:
    image: postgres:15
    container_name: weather-postgres
    environment:
      POSTGRES_DB: weather
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports: 
      - "5432:5432"
    volumes: 
      - weather_postgres_data:/var/lib/postgresql/data

volumes:
  weather_postgres_data: